.header {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.header img {
    width: 120px;
}

.filter {
    display: flex;
}

.filter > * {
    margin-left: 8px;
}